img {
    /* https://stackoverflow.com/questions/3029422/how-do-i-auto-resize-an-image-to-fit-a-div-container */
    max-width: 100%;
    max-height: 100%;
}

.header{
    width: 99%;
    height:120px;
}

.brown {
    background-color: #B2875C;
    background-color: ;
    height: 90px;
}


.brown img {
    float: right;
    height: 30px;
    color: white;
    padding-right: 50px;
}

.brown h3{
    padding-top: 15px;
    
}

.links{
    padding-left: 200px;
}

.links a{
 
    color:white;
    text-decoration: none;
    padding:50px;
    font-size: 0.9rem;
    
}
    

.newTitle{
    padding-left: 30px;
}

.title {
    background-color: #EDECEA;
    height: 90px;
}
.title h3{
    text-align: left;
  
}


.hero {
    background-color: #999691;
    /* https://stackoverflow.com/questions/8200204/fit-background-image-to-div */
    background-image: url("./image/cover1.png");
    background-size: cover;
}


.new {
    background-color: #BEAD9B;
    height: 400px;
}
.newtitle{
    height: 90px;
    background-color: #BEAD9B;
    padding-top: 60px;
    padding-left: 60px;
}

.row h1 {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.row h3 {
    color: white;
    text-align: center;
}

.clothes {
    text-align: center;
}

.clothes p1 {
    font-weight: bold;
}

.studio {
    background-color: #B2875C;
    height: 900px;
}
#studiohead{
    height:100px;
}

.studio h1{
    text-align: center;
    padding-top: 35px;
    color: white;
   
}

.story {
    text-align: center;
}

.footer {
    height: 390px;
    background-color: #BEAD9B;
    text-align: center;
}
#contact-info{
    
}

#contact{
    background-color:B9C8D6;
    text-align: center;
    height: 450px;
}

#contact h1{
    text-align: center;
    padding-top: 40px;
}

#contact h3{
    color: white;
}

#contact p{
    color:white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}

#contact img {
    width: 50px;
    height: 50px;
}

input{
    margin: 20px;
    width: 20%;
    height: 20px;
    border:0;
    background-color:white; 
    border-radius: 10px;
}

button {
    margin: 20px;
    width: 20%;
    height: 20px;
    background-color:9FAF70; 
    border:0;
    border-radius: 10px;
    color: #584724;
    font-weight: 800;
}

@media (min-width: 578px) {
    p {
        font-size: x-small;
    }
    .hero {
        height: 300px;
    }
    .clothes {
        height: 230px;
        padding: 25px 0 25px 20px;
    }
    .clothes p1 {
        padding: 0;
    }
    .new {
        height: 750px
    }
    .story {
        height: 700px;
        padding: 80px 0 0 0
    }
}

@media (min-width: 768px) {
    p {
        font-size: smaller;
    }
    .hero {
        height: 400px;
    }
    .clothes {
        height: 350px;
        padding: 70px 0 0 20px;
    }
    .new {
        height: 800px
    }
    .story {
        height: 400px;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    p {
        font-size: small;
    }
    .hero {
        height: 500px;
    }
    .clothes {
        height: 450px;
        padding: 50px
    }
    .new {
        height: 470px
    }
    .story {
        height: 500px;
        padding: 20px;
    }
}